.body {
  display: flex;
  color: aqua;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  gap: 20px;
  padding-left: 46%;
  padding-bottom: 2%;
}

.btn-c {
  background-color: pink;
  color: black;
  cursor: pointer;
  border: 2px solid;
  border-radius: 55%;
  width: 73px;
}
